@import '../../../styles/_vars';


mat-card {
    margin: 0 0 20px 0;
    width: 530px;
    height: 376px;
  //   min-height: 370px;
    display: inline-block;
    padding: 0; 
  
    .is-loading {
      top: 100px;
      margin: 0 auto;
      width: 100px;
      position: relative;
    }
  
    mat-card-header {
      background-color: transparent;
      color: #5f5f5f;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 7px;
      margin-bottom: 10px;
  
      &:hover {
        // background-color: $widget-background-color-light;
      }
  
      .widgets-actions {
           right: 15px;
           // top: 15px;
           position: absolute;
           // visibility: hidden;
       }
  
      mat-card-title {
       font-weight: 800;
       padding-top: 20px;
       display: inline-block;         
      }
  
      .badge {
        padding: 6px;
        background-color: #c0c0c0;
        color: $white;
        border-radius: 48px;
        // width: 39px;
        height: 20px;
        margin-left: 6px;
       }
    }
  
    mat-card-content {
      canvas {
        display: block !important;
        /* height: 277px; */
        width: 95% !important;
        margin: 0 auto !important;
        padding: 6px !important;
        padding-bottom: 15px !important;
      }
  
      table {
        width: 90%;
        margin: 0 auto;
  
        tr {
  
            &:nth-child(even) {
                background: #f9f9f9;
            }
  
            th {
              //   width: 25%;
                padding-left: 7px;
                
                &:first-child {
                    width: 40px;                  
                }
            }
  
            td {
                padding: 7px 0;
                padding-left: 7px;
  
                &:first-child {
                    width: 40px;
                    margin-right: 10px;                    
                }
                &:nth-child(3) {
                  width: 210px;                   
              }
            }
        }
  
    }
    }
  }