@import '../../../styles/_vars';


mat-card {
  width: 300px;
}

  form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    mat-form-field {
      width: 300px;
      margin-bottom: 25px;
    }
  
    mat-progress-bar {
      width: 300px;
    }
  }

  .more-actions {
    margin-top: 50px;
  }
  