<section class="profile">

    <mat-card class="profile-img-container">
        <!-- <mat-card-title>
            <i class="material-icons" (click)="toggleEditImg()" *ngIf="isEditImg">cancel</i>
            <i class="material-icons" (click)="toggleEditImg()" *ngIf="isEditImg">save</i>
            <i class="material-icons" (click)="toggleEditImg()" *ngIf="!isEditImg">mode_edit</i>
        </mat-card-title> -->
        <mat-card-content>
            <div class="edit-icons">
                <i class="material-icons" (click)="toggleEditImg()" *ngIf="isEditImg">cancel</i>
                <i class="material-icons" (click)="toggleEditImg()" *ngIf="isEditImg">save</i>
                <i class="material-icons" (click)="toggleEditImg()" *ngIf="!isEditImg">mode_edit</i>
            </div>
            <div class="profile-img">
                <span><img src="./assets/img/profile-sm.jpg"></span>
            </div>
        </mat-card-content>   
    </mat-card >


  <mat-card>
    <mat-card-title>
      <span>general  information</span>
      <i class="material-icons" (click)="toggleEditInfo()" *ngIf="isEditInfo">save</i>
      <i class="material-icons" (click)="toggleEditInfo()" *ngIf="isEditInfo">cancel</i>
      <i class="material-icons" (click)="toggleEditInfo()" *ngIf="!isEditInfo">mode_edit</i>
    </mat-card-title>

    <mat-card-content class="container">
      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">person</i>
            </div>
            <div class="right">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name">
                </mat-form-field>
            </div>
          </div>
      </div>

      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">wc</i>
            </div>
            <div class="right">
              <mat-form-field>
                  <mat-select placeholder="Gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{ gender.viewValue }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
          </div>
      </div>

      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">event</i>
            </div>
            <div class="right">
              
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
          </div>
      </div>

      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">location_searching</i>
            </div>
            <div class="right">
              <mat-form-field>
                  <mat-select placeholder="Country Of Origin">
                    <mat-option *ngFor="let country of countrys" [value]="country.value">
                      {{ country.viewValue }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
          </div>
      </div>

      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">supervisor_account</i>
            </div>
            <div class="right">
              <mat-form-field>
                  <mat-select placeholder="Marital Status">
                    <mat-option *ngFor="let maritalStatus of maritalStatuses" [value]="maritalStatus.value">
                      {{ maritalStatus.viewValue }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
          </div>
      </div>

      <div class="example-content">
          <div class="example-container">
            <div class="left">
                <i class="material-icons">forum</i>
            </div>
            <div class="right">
                <mat-form-field>
                    <mat-select placeholder="Language">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          </div>
      </div>
    </mat-card-content>
  </mat-card>



</section>