<div class="header-bottom-wrapper">
  <div class="">
    <span><img src="./assets/img/logo.png" ></span>
    <h1>GYMO</h1>
  </div>

  <span class="navigation">
        <button routerLinkActive="active" routerLink="/home">
          <i class="material-icons">home</i>
          <a>Home</a>
        </button>

        <button routerLinkActive="active" routerLink="/training">
          <i class="material-icons">star</i>
          <a>Training</a>
        </button>

        <button routerLinkActive="active" routerLink="/training/past-exercises">
          <i class="material-icons">star</i>
          <a>Past Exercises</a>
        </button>

        <button routerLinkActive="active" routerLink="/dashboard">
          <i class="material-icons">widgets</i>
          <a>Dashboard</a>
        </button>

        <button routerLinkActive="active" routerLink="/settings">
          <i class="material-icons">widgets</i>
          <a>Settings</a>
        </button>
  </span>

  <span class="actions">

  </span>

</div>
