<div class="header-container">
    <div class="header" >

        <div class="logo" routerLinkActive="active" routerLink="/home">
          <span><img src="./assets/img/logo.png" ></span>
          <h1>GYMO</h1>
        </div>
      
        <div class="navigation">

              <button *ngIf="isAuth" mat-button routerLinkActive="active" routerLink="/training">
                <i class="material-icons">star</i>
                <a>Training</a>
              </button>

              <button *ngIf="isAuth" mat-button routerLinkActive="active" routerLink="/exercises">
                <i class="material-icons">star</i>
                <a>Exercises</a>
              </button>
      
              <button *ngIf="isAuth" mat-button routerLinkActive="active" routerLink="/training/past-exercises">
                <i class="material-icons">star</i>
                <a>Past Exercises</a>
              </button>

              <button *ngIf="isAuth" mat-button routerLinkActive="active" routerLink="/dashboard">
                <i class="material-icons">widgets</i>
                <a>Dashboard</a>
              </button>
      
              <button *ngIf="isAuth" mat-button routerLinkActive="active" routerLink="/settings">
                <i class="material-icons">widgets</i>
                <a>Settings</a>
              </button>

              <button *ngIf="isAuth" mat-button matRipple routerLinkActive="active" routerLink="/login"  (click)="onLogout()">
                <mat-icon class="icon">exit_to_app</mat-icon>
                <a>LOGOUT</a>
              </button>

              <button *ngIf="!isAuth" mat-button routerLinkActive="active" routerLink="/login">
                <i class="material-icons">star</i>
                <a>Login</a>
              </button>

              <button *ngIf="!isAuth" mat-button routerLinkActive="active" routerLink="/signup">
                <i class="material-icons">star</i>
                <a>signup</a>
              </button>
        </div>
    </div>
</div>



