@import '../../../styles/_vars';

// :host {
//     z-index: 500;
//     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
//     background-color: #354759;
//   }


  // mat-toolbar {
  //   width: 1200px;
  //   margin: 0 auto;
  //   background-color: #354759;
  //   color: white;
  // }


  .header-top-container {
    // width: 100%;
    background-color: #2e3e4e;
    color: white;
    padding: 3px;

    .header-top {
      min-height: 22px;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      span {
        margin-right: 40px;

        &:last-child {
          margin-right: 10px;
        }
      }

      .animation-wrapper {


        i {
          font-size: 11px;
        }

        .animation {
            background-color: #0cc2aa;
            border-radius: 20px;
            padding: 1px;
            margin-left: 1px;
            animation: spin 2000ms linear infinite;

            // font-size: 11px;

            @-moz-keyframes spin {
                to { -moz-transform: rotate(359deg); }
            }
            @-webkit-keyframes spin {
                to { -webkit-transform: rotate(359deg); }
            }
            @keyframes spin {
                to {transform:rotate(359deg);}
            }
        }
      }

      .notification-wrapper {
          margin-right: 20px;

          i {
            font-size: 12px;
          }

          .badge {
              background-color: #0cc2aa;
              border-radius: 10px;
              padding: 0 4px;
              font-size: 10px;
              font-weight: bold;
              position: relative;
              right: 0px;
              bottom: 2px;
          }

          .label {
            text-transform: uppercase;
            padding: 0 4px;
            font-size: 10px;
            position: relative;
            right: 0px;
            bottom: 2px;
          }
      }



      .button {
        font-size: 11px;
        display: flex;
        align-items: center;
  
        .icon {
          font-size: 15px;
  
          // width: 11px;
          // height:  11px;
        }
      }
    }
  }

  .header-container {
    // margin-bottom: 30px;
    z-index: 500;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    // width: 100%;
    // height: 65px;
    background-color: #212d38;
    color: white;
    padding: 5px 0;

    .header {
      width: 1200px;
      margin: 0 auto;
      // width: 1200px;
      // margin: 0 auto;
      display: flex;
      // justify-content: space-between;
      align-items: center;
  
      .logo {
        display: flex;
        align-items: center;
        margin-right: 42px;


        img {
          height: 35px;
        }
        
        h1 {
          display: inline-block;
          font-size: 19px;
          color: white;
          font-weight: 600;


          // top: 13px;
          // position: absolute;
        }
      }
  
      .navigation {

        .active {
          // border-bottom: 2px solid $primary;
          background-color: rgba(3, 3, 3, 0.2);
          // padding-bottom: 10px;
          color: #fff;
          // padding: 10px 0 ;
        }

        button {

          &:hover {
              color: #fff;
              // background-color: rgba(3, 3, 3, 0.1);
              // border-bottom: 2px solid $primary;
              // padding-bottom: 10px;
          }

          
          i {
              color: $primary;
          }

          a {
              color: #d6e1f9;
              text-decoration: none;
              font-size: 14px;
              text-transform: uppercase;
          }
        }
      }
  
      .actions {
        margin-left: auto;
        display: flex;

        .toolbar-button {
          height: 100%;
          position: relative;
        
          .icon-button {
            height: 100%;
            padding: 0;
            min-width: 50px;
        
            .icon {
              // Color is defined in _toolbar.scss
            }
          }
        
        
          .dropdown {
            background: white;
            position: absolute;
            top: 50px;
            right: 0;
            min-width: 350px;
            z-index: -1;
            // z-index: 2 !important;
            transform: translateY(-110%) scale(0);
            transform-origin: top right;
            visibility: hidden;
            transition: transform .4s cubic-bezier(.25,.8,.25,1), visibility .4s cubic-bezier(.25,.8,.25,1);
        
            @media screen and (max-width: 599px) {
              min-width: 100vw;
              right: -147px; // width of user-button + quickpanel-button
            }
        
            &.open {
              transform: translateY(0) scale(1);
              visibility: visible;
            }
        
            .card {
        
              .header {
                background: #EEEEEE;
                min-height: 54px;
                padding-left: 16px;
                padding-right: 8px;
                color: #555;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                border-bottom: 1px solid #e0e0e0;
        
                .extra {
                  font-size: 12px;
                  color: #888;
                }
              }
        
              .content {
                overflow: hidden;
                max-height: 256px;
        
                .notification {
                  min-height: 64px;
                  padding: 0 16px 0 14px;
                  position: relative;
                  color: #666;
                  cursor: pointer;
        
                  .icon {
                    height: 28px;
                    width: 28px;
                    line-height: 28px;
                    font-size: 18px;
                    margin-right: 13px;
                    text-align: center;
                    border-radius: 50%;
                    background: #FFF;
                    color: #888;
                    border: 1px solid #EEE;
                  }
        
                  .title {
                    font-weight: 500;
                    font-size: 14px;
                  }
        
                  .time {
                    font-size: 12px;
                  }
        
                  .close {
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                  }
        
                  &.primary {
                    .icon {
                      background: #999;
                      color: #fff;
                    }
                  }
        
                  // &.accent {
                  //   .icon {
                  //     background: $color__accent;
                  //     color: $color__accent-contrast;
                  //   }
                  // }
        
                  // &.warn {
                  //   .icon {
                  //     background: $color__warn;
                  //     color: $color__warn-contrast;
                  //   }
                  // }
        
                  &.read {
                    color: #999;
        
                    .name {
                      font-weight: normal;
                    }
                  }
                }
              }
        
              .footer {
                min-height: 42px;
                border-top: 1px solid #EEE;
        
                .action {
                  cursor: pointer;
                  color: #AAA;
                  text-align: center;
                  font-size: 13px;
                }
              }
        
              .divider {
                width: calc(100% - 30px);
                height: 1px;
                background: #EEE;
                margin: 0 16px 0 14px;
              }
            }
          }
        }

        

      }
    }
  }
