<section>

    <div class="logo-header" >
      <span><img src="./assets/img/logo.png"></span>
      <h1>GYMO</h1>
    </div>
    
    <mat-card>
      <mat-card-content>
        
        <app-login *ngIf="selectedPage === 1" (selectedPage)="getPage($event)"></app-login>
        <app-signup *ngIf="selectedPage === 2" (selectedPage)="getPage($event)"></app-signup>
        <app-forgot *ngIf="selectedPage === 3" (selectedPage)="getPage($event)"></app-forgot>

      </mat-card-content>
    </mat-card>
</section>
  
