<section class="settings">
    <mat-card>

      <mat-card-title>
        <span>Settings</span>
      </mat-card-title>
  
      <mat-card-content class="container">
        <div class="example-content">
            <div class="example-container">

              <div class="left">
                  <i class="material-icons">person</i>
              </div>

              <div class="right">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="First Name">
                  </mat-form-field>
              </div>
              
            </div>
        </div>
      </mat-card-content>

    </mat-card>
  </section>
